
body {
    /*background: url("../image-directory/IMG_6385-copy.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}
h4 {
    text-align: center;
}
.top {
    background-color: #001a66;
}
.header-nav {
    padding: 15px;
}
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 11%;
    left: 10px;
    background: #eeeeee;
    overflow-x: hidden;
    padding: 8px 0;
}
.content {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
    border: 1px solid green;
}
@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px}
}